streamlit
torch
transformers
sentence-transformers
pandas
numpy
scikit-learn
nltk
langdetect
deep-translator
scipystreamlit
torch
transformers
sentence-transformers
pandas
numpy
scikit-learn
nltk
langdetect
deep-translator